/* Font */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

body {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 2vw;
}

.section__color--secondary {
    background-origin: content-box;
    background-color: #f7f7ff;
}

.section--primary {
    background: white;
}

.section--secondary {
    display: table;
    background-color: #f7f7ff;
    /*width: 100%;*/
}

p {
    color: #555555;
}

span {
    color: #555555;
}

h1 {
    font-size: 6em;
    font-weight: 800;
    color: #0b0b15;
    white-space: nowrap;
    line-height: 1em;
}

h2 {
    color: #0b0b15;
    font-size: 1.5em;
    font-weight: 800;
}

h3 {
    color: #0b0b15;
    font-weight: 800;
}

.flex--name {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.flex--name--item {
    margin: 0;
}

.intro {
    overflow: hidden;
}

.hello {
    color: #0b0b15;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-top: 1em;
}

.after_hello {
    color: #ff9301;
    font-weight: 800;
    font-size: 2em;
    white-space: nowrap;
    margin-bottom: 1em;
}

.after_hello--text {
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    max-width: 45%;
}

@media (min-width: 360px) and (max-width: 559px) {
    .after_hello--text {
        min-width: 100%;
        width: 100%;
    }

    .JaneDoe {
        scale: 75%;
        margin-left: -3em;
        margin-bottom: -2em;
    }
}

@media (min-width: 560px) and (max-width: 959px) {
    .after_hello--text {
        min-width: 60%;
        width: 100%;
    }
}

/*
@media (min-width: 360px) and (max-width: 559px) {
    .flex--name {
        width: 100%;
    }

    .after_hello--text {
        margin: 0 auto;
        min-width: 100%;
    }
}
*/


/* Navigation */
.navigation {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    min-width: 100%;
}

.navigation--item {
    text-decoration: none;
    color: #555555;
    white-space: nowrap;
}

@media (min-width: 360px) and (max-width: 559px) {

    .navigation {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 1em;
        margin-top: 1em;
    }

    .navigation--item {
        display: flex;
        background-color: #ff9101;
        max-height: 3em;
        max-width: 8em;
        min-width: 6em;
        min-height: 2.5em;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        color: #0b0b15;
    }
}

@media (min-width: 560px) {
    .navigation--item:hover {
        border-bottom: #ff9301 solid 3px;
        margin-bottom: -0.5em;
    }
}

@media (min-width: 960px) {
    .navigation::after {
        content: "";
        padding: 30em 50em 20em 20em;
        border-radius: 50%;
        background-image: url("./images/avatar.svg");
        background-color: #ff910180;
        background-repeat: no-repeat;
        background-size: 22em;
        background-position: 8em 22.5em;
        width: 40%;
        margin-bottom: -20em;
        margin-left: 1em;
        margin-top: -40em;
        margin-right: -3em;
    }
}

/* Biography */

/* Avatar */
.biography--text {
    font-size: 0.9em;
    color: #555555;
    margin: 0.5em 0.5em 0.5em 0;
}

.biography--title {
    margin-bottom: 0.5em;
}

.avatar_picture {
    background-color: #ff9101;
    border-radius: 50%;
    max-width: 16em;
    max-height: 16em;
    /*margin-bottom: 1.5em;*/
}

.picture__text--primary {
    font-size: 1.5em;
    font-weight: 800;
    color: #0b0b15;
}

.picture__text--secondary {
    color: #ff9101;
    font-size: 0.9em    ;
}

@media screen and (min-width: 960px) {
    .biography__flex {
        display: flex;
        flex-direction: row;
        gap: 2em;
        width: 100%;
    }

    .photo__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        width: 40%;
    }

    .biography {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
}

@media (min-width: 360px) and (max-width: 959px) {
    .biography__flex {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        margin-bottom: 1em;
    }

    .photo__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em auto 0;
    }

    .biography {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.section--beginning::before {
    content: "";
    padding: 0.5em 0.9em 0 0.7em;
    margin: 0 -1.2em 0 -0.6em;
    background-color: #ff910180;
    border-radius: 50%;
}

/* What I Do section */

#What_I_Do::before {
    content: "";
    padding: 1em 50%;
    background-image: url('./images/border-dark.png');
    background-repeat: repeat-x;
    background-size: 13em 0.5em;
}

.what__i__do {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.What_I_Do--item {
    display: flex;
    flex-direction: column;
    padding: 2em 1em 1em;
    margin: 0 auto;
    background: white;
    border-radius: 0.3em;
    overflow: hidden;
}

.What_I_Do--item__img {
    max-width: 2%;
    height: auto;
}

@media (min-width: 360px) and (max-width: 959px) {
    .what__i__do {
        flex-direction: column;
    }
}

.what__i__do--pencil::before {
    content: "";
    padding: 5em 5.5em 4.5em;
    margin-left: -4em;
    border-radius: 50%;
    background-color: #ff9101;
    background-image: url("images/pencil-alt-solid.svg");
    background-repeat: no-repeat;
    background-size: 4em;
    background-position: 4.5em 5em;
}

.what__i__do--pc::before {
    content: "";
    padding: 5em 5.5em 4.5em;
    margin-left: -4em;
    border-radius: 50%;
    background-color: #ff9101;
    background-image: url("images/desktop-solid.svg");
    background-repeat: no-repeat;
    background-size: 4em;
    background-position: 4.5em 5em;
}

.what__i__do--eye::before {
    content: "";
    padding: 5em 5.5em 4.5em;
    margin-left: -4em;
    border-radius: 50%;
    background-color: #ff9101;
    background-image: url("images/bullseye-solid.svg");
    background-repeat: no-repeat;
    background-size: 4em;
    background-position: 4.5em 5em;
}

.what__i__do--subtitle {
    margin-top: 5em;
    font-weight: 800;
    color: #0b0b15;
}

.what__i__do--text {
    font-size: 0.9em;
    color: #555555;
}

/* Avards */
.awards__flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-self: center;
    width: 100%;
    gap: 1em;
}

.awards__flex--item {
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    background: white;
    width: 30%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 10em;
    margin: 0 1em;
    text-align: center;
}

.awards--img {
    max-width: 3em;
    margin-bottom: 0.5em;
}

@media (min-width: 360px) and (max-width: 559px) {

    .awards__flex {
        flex-direction: column;
        width: 100%;
    }

    .awards__flex--item {
        flex-direction: row;
        min-width: 96%;
        height: 6em;
        justify-content: flex-start;
        padding-left: 1em;
        gap: 1em;
        margin: 0 auto;
    }

}

/* Experiences */

.experience--flex {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
}

.experience--item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: #f7f7ff;
    border-radius: 0.75em;
}

.experience--time--flex {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-items: center;
    align-self: center;
    margin: 0 auto 0 3em;
}

.experience__item--text {
    width: 80%;
    margin-right: 3em;
}

@media (min-width: 560px) {
    .vertical-line {
        height: 10em;
        width: 1px;
        justify-self: center;
        align-self: center;
        background-color: #bbbbbb;
        opacity: 10%;
        margin: 1em;
    }
}


.experience__contract {
    display: flex;
    padding: 0.5em;
    width: 5em;
    border-radius: 0.3em;
    color: white;
    align-content: center;
    justify-content: center;
    font-size: 1em;
}

.experience--time {
    font-size: 1em;
}

.experience__contract--full_time {
    background-color: #ff9101;
}

.experience__contract--part_time {
    background-color: #555555;
}

@media (min-width: 560px) and (max-width: 959px) {
    .experience--time {

    }
}

@media (min-width: 360px) and (max-width: 559px) {
    .experience--item {
        flex-direction: column;
    }

    .experience--time--flex {
        align-self: flex-start;
        margin-left: 1.5em;
        margin-top: 1.5em;
        width: 10em;
    }

    .experience__item--text {
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    }
}



/* My Portfolio */
.my__portfolio--grid span {
    color: #0b0b15;
}

.my__portfolio--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
}

.my__portfolio--item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.my__portfolio--img {
    max-width: 100%;
    height: auto;
}

.my__portfolio--img--des {
    font-weight: 800;
}


/* Contact */
.contact_main_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.main_flex--item {
    width: 50%;
}

.form--flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.clip_art_text {
    font-weight: 800;
    line-height: 3em;
}

.clip_art_pin:before {
    content: "";
    background-image: url("./images/map-marker-alt-solid.svg");
    background-repeat: no-repeat;
    padding: 0.5em 2.25em 2em 0.5em;
    background-size: 1.5em;
    background-position: 0.4em 0;
}

.clip_art_envelope:before {
    content: "";
    background-image: url("./images/envelope-regular.svg");
    background-repeat: no-repeat;
    padding: 0.5em 2.25em 2em 0.5em;
    background-size: 2em;
}

.clip_art_phone:before {
    content: "";
    background-image: url("./images/mobile-alt-solid.svg");
    background-repeat: no-repeat;
    padding: 0.5em 2.25em 2em 0.5em;
    background-size: 1.25em;
    background-position: 0.4em 0;
}

input {
    height: 3em;
    padding-left: 1em;
}

textarea {
    padding-left: 1em;
    padding-top: 1em;
}

.inner_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    width: 100%;
}

.inner__field {
    width: 50%;
}

.form--border {
    border: #bbbbbb solid 1px;
}

@media (min-width: 560px) and (max-width: 959px) {
    .contact_main_flex {
        flex-direction: column;
    }

    .main_flex--item {
        width: 100%;
    }

}


@media (min-width: 360px) and (max-width: 559px) {
    .contact_main_flex {
        flex-direction: column;
    }

    .inner_flex {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .inner__field {
        width: 100%;
    }

    .main_flex--item {
        width: 100%;
    }
}

.form--button {
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 0.3em;
    width: 9em;
    font-weight: 800;
}

iframe {
    width: 100%;
    height: 20em;
    margin-top: 3em;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* footer */
.social_media__inner-flex {
    display: inline-flex;
    gap: 1em;
}

.sm__img {
    height: 3em;
    width: 3em;
}

.flex--footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

@media (min-width: 360px) and (max-width: 559px) {
    .flex--footer {
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 0 auto;
    }

}

